.checkbox {
  width: 240px;
  text-align: left;

  &__title {
    font-size: 12px;
    margin: 0 0 20px;
  }

  &__content {
    display: flex;
    align-items: center;

    &_reverse {
      flex-direction: row-reverse;
      justify-content: start;
      margin-bottom: 16px;
      &:last-of-type {
        margin-bottom: 0;
      }

      label {
        margin-right: 3px;
      }
    }
  }

  &__input {
    &::placeholder {
      color: black;
    }
  }

  &__text {
    font-size: 11px;
  }
}
